# Google OAuth Client ID
# Dapatkan di https://console.cloud.google.com/
GOOGLE_CLIENT_ID=your-google-client-id-here

# Gunakan ini jika anda men-deploy ke Netlify/Vercel (static)
VITE_GOOGLE_CLIENT_ID=your-google-client-id-here
